.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  margin: 5px;
}
.is-clickable {
  transition: 0.3s all ease-in-out;
}
.is-clickable:hover {
  scale: 0.8 !important;
}
